name: CI

on:
  pull_request:
    types: ['opened', 'reopened', 'synchronize', 'ready_for_review']
    paths:
      - '**/*.tf'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    outputs:
      module-paths: ${{ steps.find-modules.outputs.paths }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Find
        id: find-modules
        run: |
          # find directories containing *.tf files
          dirs=$(find . -type f -name "*.tf" -exec dirname {} \; | sort -u)
          echo "Found module dirs: $dirs"
          # output as comma-separated for reuse
          echo "paths=$(echo $dirs | tr ' ' ',')" >> $GITHUB_OUTPUT

      - name: Setup
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.0

      - name: Validate
        working-directory: ${{ matrix.module-path }}
        run: |
          for dir in $(echo "${{ steps.find-modules.outputs.paths }}" | tr ',' ' '); do
            echo "Validating $dir"
            terraform -chdir="$dir" init -backend=false
            terraform -chdir="$dir" validate -no-color
          done
